<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control turnos</title>
    <link rel="stylesheet" href="/views/css/control.css">
</head>
<body>
    <div class="container">
        <button type="button" class=""> <img src="/views/pictures/previous_button.png" alt="previous_button"></button>
        <div class="container_shift">
            <h2>Turno actual</h2>
            <span class="current_shift_number">A99</span><br>
            <span class="current_shift_name">Nombre Apellido</span>
        </div>
        <button><img src="/views/pictures/next_button.png" alt="next_button"></button>
    </div>
    <div class="button_confirm_shift">
        <button type="button">Confirmar</button>
    </div>
</body>
</html>