<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift</title>
    <link rel="stylesheet" href="/views/css/shift.css">
</head>
<body>
    <div class="container_current_shift">
        <h2>Turno actual</h2>
        <span class="current_shift_number">A99</span><br>
        <span class="current_shift_name">Nombre Apellido</span>
    </div>
    <div class="container_previous_shifts">
        <h2>Turnos anteriores</h2>
        <ul>
            <li class="previous_shift">
                <span class="shift_number">A98</span>
                <span class="shift_name">Nombre Apellido</span>
            </li><br>
            <li class="previous_shift">
                <span class="shift_number">A97</span>
                <span class="shift_name">Nombre Apellido</span>
            </li><br>
            <li class="previous_shift">
                <span class="shift_number">A96</span>
                <span class="shift_name">Nombre Apellido</span>
            </li><br>
            <li class="previous_shift">
                <span class="shift_number">A95</span>
                <span class="shift_name">Nombre Apellido</span>
            </li><br>
            <li class="previous_shift">
                <span class="shift_number">A94</span>
                <span class="shift_name">Nombre Apellido</span>
            </li>
        </ul>
        <div class="logo">
            <img src="/views/pictures/logo.png" alt="logo">
        </div>
    </div>
</body>
</html>